# Exploratory Data Analysis

## Import libraries and Initialize Wandb

In [3]:
import wandb
import pandas as pd
from pandas_profiling import ProfileReport

In [4]:
# Initialize group for EDA
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
local_path = wandb.use_artifact("sample.csv:latest").file()
df = pd.read_csv(local_path)

wandb: wandb version 0.13.2 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

## Data Overview

In [5]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

## EDA using `pandas_profiling`

In [7]:
profile = ProfileReport(df, title="Pandas Profiling Report", explorative=True)

In [8]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

**Findings**
- **Overview**:
    - We have a total of 16 variables with 10 numeric variables and 6 categorical variables
    - No duplicated rows found, `id` column is also unique.
    - Missing values occupy ~ 2.6%
        - Missing values are mostly from 2 columns: `last_review` and `reviews_per_month`
- **Data type**:    
    - We should expect `last_review` to be in datetime format instead of object
- **Correlations**:
    - `latitude`, `longitude` and `minimum_nights` seems to be variables that have strong impact on price => Price varies a lot based on geographical location.
- **Price distribution**:
    - Average price is around ~ 152 usd
    - However, min value is 0 (shouldn't be zero price) and max value is 10000 (too high) => Acceptable values should be between range median ± 1.5 IQR.

## Preprocessing

**Drop outliers** : Remove rows if price is too low (less than 10) or too high (more than 350)

In [9]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()

**Correct `last_review` datatype** : The datatype should be type `datetime` instead of `string`

In [10]:
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

In [11]:
# Recheck dataframe after conduct EDA
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46428 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              46428 non-null  int64
 1   name                            46413 non-null  object
 2   host_id                         46428 non-null  int64
 3   host_name                       46407 non-null  object
 4   neighbourhood_group             46428 non-null  object
 5   neighbourhood                   46428 non-null  object
 6   latitude                        46428 non-null  float64
 7   longitude                       46428 non-null  float64
 8   room_type                       46428 non-null  object
 9   price                           46428 non-null  int64
 10  minimum_nights                  46428 non-null  int64
 11  number_of_reviews               46428 non-null  int64
 12  last_review                     37246 non-null  datetime64[ns]
 13  reviews_per_month               37246 non-null  float64
 14  calculated_host_listings_count  46428 non-null  int64
 15  availability_365                46428 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

In [12]:
# Finish our run
run.finish()

VBox(children=(Label(value=' 0.02MB of 0.02MB uploaded (0.00MB deduped)\r'), FloatProgress(value=1.0, max=1.0)…